const cookies = [
  {
    domain: '.instagram.com',
    expirationDate: 1706942581.885454,
    hostOnly: false,
    httpOnly: false,
    name: 'mid',
    path: '/',
    sameSite: 'unspecified',
    secure: true,
    session: false,
    storeId: '0',
    value: 'ZNCScQAEAAG3354nNsHEGqg1gC6S',
  },
  {
    domain: '.instagram.com',
    expirationDate: 1706942581.885512,
    hostOnly: false,
    httpOnly: true,
    name: 'ig_did',
    path: '/',
    sameSite: 'unspecified',
    secure: true,
    session: false,
    storeId: '0',
    value: '298FE3D6-3239-4C01-8325-F6A185674B6E',
  },
  {
    domain: '.instagram.com',
    expirationDate: 1706942581.885566,
    hostOnly: false,
    httpOnly: false,
    name: 'ig_nrcb',
    path: '/',
    sameSite: 'unspecified',
    secure: true,
    session: false,
    storeId: '0',
    value: '1',
  },
  {
    domain: '.instagram.com',
    expirationDate: 1706942698.581586,
    hostOnly: false,
    httpOnly: true,
    name: 'datr',
    path: '/',
    sameSite: 'no_restriction',
    secure: true,
    session: false,
    storeId: '0',
    value: '4ZLQZAfNUEmC5K1z_GTi7p1g',
  },
  {
    domain: '.instagram.com',
    expirationDate: 1692580599.162548,
    hostOnly: false,
    httpOnly: true,
    name: 'shbid',
    path: '/',
    sameSite: 'unspecified',
    secure: true,
    session: false,
    storeId: '0',
    value:
      '"7956\\0546712514654\\0541723511798:01f78b0864c823c16b6e965ecd661f4154992147fa0dd0b543b5565294b38ecc9b680f7e"',
  },
  {
    domain: '.instagram.com',
    expirationDate: 1692580599.162609,
    hostOnly: false,
    httpOnly: true,
    name: 'shbts',
    path: '/',
    sameSite: 'unspecified',
    secure: true,
    session: false,
    storeId: '0',
    value:
      '"1691975798\\0546712514654\\0541723511798:01f736bb73af074cb46cd0220c9f1aeeec3ea1c2b8ec3aeb2ed198b2b21be87621482fa7"',
  },
  {
    domain: '.instagram.com',
    expirationDate: 1699869474.025213,
    hostOnly: false,
    httpOnly: false,
    name: 'ds_user_id',
    path: '/',
    sameSite: 'unspecified',
    secure: true,
    session: false,
    storeId: '0',
    value: '6712514654',
  },
  {
    domain: '.instagram.com',
    expirationDate: 1707645474.025011,
    hostOnly: false,
    httpOnly: false,
    name: 'csrftoken',
    path: '/',
    sameSite: 'unspecified',
    secure: true,
    session: false,
    storeId: '0',
    value: 'WH6qiew2c0pcEWkt8fu15TTVwBhfdpAT',
  },
  {
    domain: '.instagram.com',
    expirationDate: 1707645145.331798,
    hostOnly: false,
    httpOnly: true,
    name: 'sessionid',
    path: '/',
    sameSite: 'unspecified',
    secure: true,
    session: false,
    storeId: '0',
    value:
      '6712514654%3A3z5Cgvqg3qCXQ4%3A29%3AAYcvAoXpo13jfTQrxo0Swjgs9_Ap-ICPvP3wCT4seA',
  },
  {
    domain: '.instagram.com',
    hostOnly: false,
    httpOnly: true,
    name: 'rur',
    path: '/',
    sameSite: 'lax',
    secure: true,
    session: true,
    storeId: '8',
    value:
      '"VLL\\0546712487123514654\\0541723629473:01f7f6e1c574c1d1102b32df766fd6dfece18c311906d4aef01b795c5416766c00ee7f97"',
  },
];
const cookieString = cookies
  .map((cookie) => `${cookie.name}=${cookie.value}`)
  .join('; ');
export default cookieString;
