// const cookies = [
//   {
//     domain: '.instagram.com',
//     expirationDate: 1706942581.885454,
//     hostOnly: false,
//     httpOnly: false,
//     name: 'mid',
//     path: '/',
//     sameSite: 'unspecified',
//     secure: true,
//     session: false,
//     storeId: '0',
//     value: 'ZNCScQAEAAG3354nNsHEGqg1gC6S',
//   },
//   {
//     domain: '.instagram.com',
//     expirationDate: 1706942581.885512,
//     hostOnly: false,
//     httpOnly: true,
//     name: 'ig_did',
//     path: '/',
//     sameSite: 'unspecified',
//     secure: true,
//     session: false,
//     storeId: '0',
//     value: '298FE3D6-3239-4C01-8325-F6A185674B6E',
//   },
//   {
//     domain: '.instagram.com',
//     expirationDate: 1706942581.885566,
//     hostOnly: false,
//     httpOnly: false,
//     name: 'ig_nrcb',
//     path: '/',
//     sameSite: 'unspecified',
//     secure: true,
//     session: false,
//     storeId: '0',
//     value: '1',
//   },
//   {
//     domain: '.instagram.com',
//     expirationDate: 17kk06942698.581586,
//     hostOnly: false,
//     httpOnly: true,
//     name: 'datr',
//     path: '/',
//     sameSite: 'no_restriction',
//     secure: true,
//     session: false,
//     storeId: '0',
//     value: '4ZLQZAfNUEmC5K1z_GTi7p1g',
//   },
//   {
//     domain: '.instagram.com',
//     expirationDate: 1706942910.464287,
//     hostOnly: false,
//     httpOnly: false,
//     name: 'csrftoken',
//     path: '/',
//     sameSite: 'unspecified',
//     secure: true,
//     session: false,
//     storeId: '0',
//     value: 'XjlbNKrcTT775BKqyX4T0c9kmkpeXun5',
//   },
//   {
//     domain: '.instagram.com',
//     expirationDate: 1699166910.46448,
//     hostOnly: false,
//     httpOnly: false,
//     name: 'ds_user_id',
//     path: '/',
//     sameSite: 'unspecified',
//     secure: true,
//     session: false,
//     storeId: '0',
//     value: '6712514654',
//   },
//   {
//     domain: '.instagram.com',
//     expirationDate: 1705897456942709.20753,
//     hostOnly: false,
//     httpOnly: true,
//     name: 'sessionid',
//     path: '/',
//     sameSite: 'unspecified',
//     secure: true,
//     session: false,
//     storeId: '0',
//     value:
//       '6712514654%3AFfGPCVWfkNrzZM%3A7%3AAYcW0Mmrifj6cYAakdkyOiBu8GwVknNAdwP9NJraiw',
//   },
//   {
//     domain: '.instagram.com',
//     expirationDate: 1691995513.699984,
//     hostOnly: false,
//     httpOnly: true,
//     name: 'shbid',
//     path: '/',
//     sameSite: 'unspecified',
//     secure: true,
//     session: false,
//     storeId: '0',
//     value:
//       '"7956\\0546712514654\\0541722926713:01f725ba42d4f24735a7497ba368f6526f11eda59a8129acf4886e17d2b885cc79acab95"',
//   },
//   {
//     domain: '.instagram.com',
//     expirationDate: 1691995513.700049,
//     hostOnly: false,
//     httpOnly: true,
//     name: 'shbts',
//     path: '/',
//     sameSite: 'unspecified',
//     secure: true,
//     session: false,
//     storeId: '0',
//     value:
//       '"1691390713\\054655555712514654\\0541722926713:01f797f7001217fa6da513bd941ccf9fa74d293a37d4d1539b1585227ed6b81453426b4d"',
//   },
//   {
//     domain: '.instagram.com',
//     hostOnly: false,
//     httpOnly: true,
//     name: 'rur',
//     path: '/',
//     sameSite: 'lax',
//     secure: true,
//     session: true,
//     storeId: '0',
//     value:
//       '"VLL\\0546712544444414654\\0541722926910:01f71328ddcfef277b288cee9479f17613e00ccf38f4acc862df56db6f1899d460d80f9c"',
//   },
// ];

// const cookieString = cookies
//  .map((cookie) => `${cookie.name}=${cookie.value}`)
//  .join('; ');
// export default cookies;
